div{
    width: 300px;
    margin: 0 auto;
    text-align: left;
    border: 1px solid transparent;
    border-radius: 5px;
    background: #0097A7;
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 150px)
}
h1{
    text-align: center
}
span{
    font-size: 20px;
    margin:20px;
    color:#E91E63;
}
button{
    width: 100px;
    height: 30px;
    margin-bottom: 30px;
    position: relative;
    left: calc(50% - 50px);
    border-radius: 10px;
    background: #FF5722;
    margin-top: 20px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
}
