  <div class="all">
      <h1 style="text-align:center">
          修改信息
        </h1>
    <form action="#" method="get" #reverseForm="ngForm" name="angularForm">
    <label>姓名</label>
    <!-- <input type="text" placeholder="请输入姓名" #name="ngModel" [(ngModel)]="data.name" [ngModelOptions]="{standalone: true}" required/> -->
    <input type="text" placeholder="请输入姓名" id="name" #name="ngModel" name="name" required [(ngModel)]="data.name"
  required class="form-control" minlength="2" maxlength="10"/>
    <div *ngIf="name.invalid && (name.dirty || name.touched)"
    class="namealert alert-danger">
      <div *ngIf="name.errors.required">
          姓名不允许为空
      </div>
      <div *ngIf="name.errors.minlength">
          长度不能小于2
      </div>
    </div>
    <br />
    <label>性别</label>
    <!-- <input type="text" placeholder="请输入性别" #sex [(ngModel)]="data.sex" [ngModelOptions]="{standalone: true}"/> -->
    <input type="radio" value="男" name="sex" [(ngModel)]="data.sex" #sex />男
    <input type="radio" value="女" name="sex" [(ngModel)]="data.sex" />女
    <br />
    <label>年龄</label>
    <input type="number" placeholder="请输入年龄" #age name="age" [(ngModel)]="data.age" required pattern="^\d+(\.{0,1}\d+){0,1}$"/>
    <br />
    <label>电话</label>
    <input type="text" placeholder="请输入电话" #tel="ngModel" name="tel" [(ngModel)]="data.tel"
    pattern="^1[34578]\d{9}$"
    maxlength="11"
    required/>
    <div *ngIf="tel.invalid && (tel.dirty || tel.touched)"
      class="telalert alert-danger">
      <div *ngIf="tel.errors.required">
          手机号不允许为空
      </div>
      <div *ngIf="tel.errors.pattern">
          手机号码不符合规则
      </div>
    </div>
    <br />
    <label>住址</label>
    <input type="text" placeholder="家庭住址" #address="ngModel" [(ngModel)]="data.address" name="address" required/>
    <div *ngIf="address.invalid && (address.dirty || address.touched)"
      class="addressalert alert-danger">
      <div *ngIf="address.errors.required">
          请填写住址！
      </div>
    </div>
    <br />
    <!-- <button (click)="saveDate()">保存</button> -->
    <input type="submit" value="取消保存" (click)="OnCancelInputClick(name.value,sex.value,age.value,tel.value,address.value)"/>
    <input type="submit" value="保存" (click)="OnSaveInputClick(name.value,sex.value,age.value,tel.value,address.value)" class="btn btn-success" 
    [disabled]="!reverseForm.form.valid"/>
  </form>
  </div>
