.left{
    float: left;
    width: 10%;
    height: 100%;
}
.right{
    float: right;
    width: 90%;
    background-color: whitesmoke;
    height: 100%;
}
p{
    margin: 0;
    margin-left: 25px;
    cursor: pointer;
    font-weight: bold;
    outline: none;
}
p:hover{
    color: rgb(0, 121, 254);
}
.btn-active{
    color: rgb(0, 121, 254);
    font-weight: bold;
}